<div id='landing'>
    <div class="landing-content">
        <header id="header">
            <h1>Mean it.</h1>
            <p>Give to charity and stuff.</p>
        </header>
        <!-- Signup Form -->
        <form id="signup-form">
            <input type="email" name="email" id="email" placeholder="Email Address" />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
    <div class="triangle">
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </div>
</div>
<!-- Header -->
<div ng-controller="CharityGridController as vm" id="content-scroller">
    <div class="cards-wrap" angular-grid="vm.shots" ag-grid-width="300" ag-gutter-size="12" ag-id="shots" ag-infinite-scroll="vm.loadMoreShots()">
        <div class="card" ng-repeat="shot in vm.shots track by $index">
            <div class="img" style="background-image: url({{::shot.images.normal}});"></div>
            <div class="inside">
                <h3>{{::shot.title}}</h3>
                <div class="description" ng-bind-html="::shot.description | unsafe"></div>
            </div>
        </div>
    </div>
    <div class="loading-more-indicator" ng-show="vm.loadingMore">
        <md-progress-circular md-mode="indeterminate" md-diameter="64" class="progress-swatch"></md-progress-circular>
    </div>
</div>